.homeCustomLink {
  margin-bottom: 1.3rem;

  a {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.6rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
  }
  .linkHolder {
    display: inline-block;
    overflow: hidden;

    .underline {
      height: 13px;
      width: 95%;
      position: relative;
      background-color: red;
      right: 30px;
      bottom: 20px;
      z-index: -9;
      transform: translateX(-105%);
      transition: all 0.4s linear;
    }

    span {
      text-transform: capitalize;
      font-size: 2rem;
      margin-left: 2rem;
      display: inline-block;
      font-weight: normal;
    }
  }

  .linkHolder:hover .underline {
    transform: translateX(0%);
  }
}
