.homeCustomLink {
  margin-bottom: 1.3rem;

  a {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.6rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
  }
  .linkHolder {
    display: inline-block;
    overflow: hidden;

    .underline {
      height: 13px;
      width: 95%;
      position: relative;
      background-color: #e83539;
      right: 30px;
      bottom: 20px;
      z-index: -1;
      transform: translateX(-105%);
      transition: all 0.3s linear;
    }

    span {
      text-transform: capitalize;
      font-size: 2rem;
      margin-left: 2rem;
      display: inline-block;
      font-weight: lighter;
    }
  }

  .linkHolder:hover .underline {
    transform: translateX(0%);
  }
}

@media (max-width: 1440px) {
  .homeCustomLink {
    margin-left: 2rem;
  }
}

@media (max-width: 1200px) {
  .homeCustomLink {
    margin-left: 3rem;
    a {
      font-size: 2.1rem;
    }
    .linkHolder {
      span {
        font-size: 1.6rem;
      }
    }
  }
}

@media (max-width: 992px) {
  .homeCustomLink {
    a {
      font-size: 1.8rem;
    }
    .linkHolder {
      span {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .homeCustomLink {
    margin-left: 0;
    a {
      font-size: 1.6rem;
    }
    .linkHolder {
      span {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 576px) {
  .homeCustomLink {
    a {
      font-size: 1.2rem;
    }
    .linkHolder {
      span {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 375px) {
  .homeCustomLink {
    a {
      font-size: 0.9rem;
    }
    .linkHolder {
      span {
        font-size: 0.7rem;
      }
    }
  }
}
