.aboutTeam {
  h2 {
    margin: 0;
    padding: 0;
  }
  article {
    padding: 1rem;
    display: table;
    p {
      display: table-cell;
      padding: 1rem;
      font-size: 1.3rem;
    }
  }
  .imgHolder {
    text-align: center;
    padding: 4rem 0;
  }
}
