.competitionsSocial {
  display: flex;
  margin-top: 4rem;
  ul {
    width: 50%;
    li {
      margin-bottom: 2rem;
    }
  }
  div {
    width: 48%;
    text-align: right;
    padding-right: 2%;
  }
}
