nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 1% 5%;
  width: 100%;
  z-index: 1001;
  a {
    text-decoration: none;
  }
  .logo-box {
    display: flex;
    align-items: baseline;
    h4 {
      text-transform: uppercase;
      margin-left: 10px;
      font-size: 1.8rem;
      color: white;
    }
  }
  .search-box {
    border: 3px solid white;
    display: inline-block;
    display: flex;
    align-items: center;
    padding: 5px;
    &:hover > input[type="text"] {
      width: 240px;
      padding: 0 10px;
    }
  }
  input[type="text"] {
    background-color: transparent;
    outline: transparent;
    border: none;
    color: white;
    font-size: 16px;
    transition: 0.7s;
    width: 20px;
  }
}

// @media (max-width: 1200px) {
// }
// @media (max-width: 992px) {
// }
// @media (max-width: 768px) {
// }

@media (max-width: 576px) {
  nav {
    background-color: #4f615e;
    padding: 0 2%;
    .logo-box {
      h4 {
        margin: 5% 10px;
      }
    }
  }
}
@media (max-width: 450px) {
}
