nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 2% 5%;
  width: 100%;
  z-index: 1;
  .logo-box {
    display: flex;
    align-items: baseline;
    h4 {
      text-transform: uppercase;
      margin-left: 10px;
      font-size: 1.8rem;
      color: white;
    }
  }
  .search-box {
    border: 3px solid white;
    display: inline-block;
    display: flex;
    align-items: center;
    padding: 5px;
    &:hover > input[type="text"] {
      width: 240px;
      padding: 0 10px;
    }
  }
  input[type="text"] {
    background-color: transparent;
    outline: transparent;
    border: none;
    color: white;
    font-size: 16px;
    transition: 0.7s;
    width: 20px;
  }
}

.multipleSelection {
  width: 300px;
  background-color: #bcc2c1;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkBoxes {
  display: none;
  border: 1px #8df5e4 solid;
}

#checkBoxes label {
  display: block;
}

#checkBoxes label:hover {
  background-color: #4f615e;
}
