.teamDetailView {
  box-sizing: border-box;
  object-fit: contain;
  .teamDetailView-about {
    margin-top: 3rem;
    display: flex;
    padding-right: 10%;
    aside {
      width: 500px;
      p {
        margin: 0;
        text-transform: uppercase;
        font-size: 6rem;
        color: black;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: red;
        transform: rotate(90deg);
        position: relative;
        left: 28%;
        top: 220px;
      }
    }
    .aboutTeam {
      width: 70%;
    }
  }
  .teamDetailView-stadium {
    display: flex;
    .aboutTeam {
      width: 70%;
      h2 {
        padding-left: 2rem;
        margin-bottom: 2rem;
        font-size: 4rem;
      }
    }
    aside {
      margin-top: -15%;
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 0.5rem;
        font-weight: bold;
      }
    }
  }
}
