
header {
    background-color: #0f0f0f;
    color: #fff;
}


.multipleSelection {
  width: 300px;
  background-color: #bcc2c1;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkBoxes {
  display: none;
  border: 1px #8df5e4 solid;
}

#checkBoxes label {
  display: block;
}

#checkBoxes label:hover {
  background-color: #4f615e;
}
