@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/*  font-family: 'Open Sans', sans-serif; */


    .country {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    margin-top: 6%;
    .secImg {
      display: flex;
      width: 100%;
      overflow-y: hidden;
      padding-bottom: 6%;

      div:nth-child(1) {
        height: 100%;
        width: 50%;
        position: relative;
        top: 3%;
        left: 14%;
        margin-top: 3%;

        img {
          width: 660px;
          height: 800px;
          margin: 0;
        }
      }

      div:nth-child(2) {
        height: 100%;
        width: 50%;
        position: relative;
        right: 27%;
        padding-top: 17%;

        h1 {
          font-size: 5.5rem;
          font-weight: 700;
          text-transform: uppercase;
          text-align: end;
          line-height: 120px;
          margin: 0;
          
          
        }

        h2 {
          font-size: 3.0rem;
          text-transform: uppercase;
          text-align: end;
          font-family: 'Open Sans', sans-serif;
          font-weight: 700;
          margin: 0;
          
        }
      }
    }
  }
  
  .linking {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 48px;
    text-transform: uppercase;
    transition-duration: 650ms;
    transition-property: all;
    transition-timing-function: ease-in;

    span {
      font-size: 16px;
      padding-left: 24px;
    }
  }

  .linking:hover {
    font-size: 49px;
    cursor: pointer;
    transition-duration: 650ms;
    transition-property:all;
    transition-timing-function: ease-in;
    
  }

  .secLink {
    margin-top: 1%;
  }


/*-------------------------------------------------Media Query for max-width 1440px----------------------------------------------*/
@media (max-width: 1440px) { 
  .country{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    margin-top: 6%;
    .secImg {
      display: flex;
      width: 100%;
      overflow-y: hidden;
      padding-bottom: 2%
      
      div:nth-child(1) {
        height: 100%;
        width: 50%;
        position: relative;
        top: 3%;
        left: 14%;
        margin-top: 3%;

        img {
          width: 660px ;
          height: 800px;
          margin: 0;
        }
      }

      div:nth-child(2) {
        height: 100%;
        width: 50%;
        position: relative;
        right: 8%;
        padding-top: 10%;

        h1 {
          font-size: 3.5rem;
          font-weight: 700;
          text-transform: uppercase;
          text-align: end;
          line-height: 129px;
          margin: 0;
          
          
        }

        h2 {
          font-size: 5.5rem;
          text-transform: uppercase;
          text-align: end;
          font-family: 'Open Sans', sans-serif;
          font-weight: 700;
          margin: 0;
          
        }

      }
    }
  }
  .linking {
    display: block;
    text-decoration: none;
    color: rgb(116, 236, 100);
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 48px;
    text-transform: uppercase;
    transition-duration: 650ms;
    transition-property:all;
    transition-timing-function: ease-in;
    

    span {
      font-size: 16px;
      padding-left: 24px;
    }
    
   
  }
  
  .linking:hover {
    font-size: 56px;
    cursor: pointer;
    transition-duration: 650ms;
    transition-property:all;
    transition-timing-function: ease-in;
    
  }

  .secLink {
    margin-top: 6%;
  }
}

/*-------------------------------------------------Media Query for max-width 1220px----------------------------------------------*/
@media (max-width: 1200px) { 
  .country{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    margin-top: 6%;
    .secImg {
      display: flex;
      width: 100%;
      overflow-y: hidden;
      padding-bottom: 5%;                   /*Hier den Abstand zu den Links herstellen*/
      
      div:nth-child(1) {
        height: 100%;
        width: 50%;
        position: relative;
        top: 3%;
        left: 12%;
        margin-top: 3%;                           

        img {
          width:600px ;
          height: 700px;
          margin: 0;
        }
      }

      div:nth-child(2) {
        height: 100%;
        width: 50%;
        position: relative;
        right: 13%;
        padding-top: 17%;

        h1 {
          font-size: 4rem;
          font-weight: 700;
          text-transform: uppercase;
          text-align: end;
          line-height: 125%;
          margin: 0;
          
          
        }

        h2 {
          font-size: 2.5rem;
          text-transform: uppercase;
          text-align: end;
          font-family: 'Open Sans', sans-serif;
          font-weight: 800;
          margin: 0;
          
        }

      }
    }
  }
  .linking {
    display: block;
    text-decoration: none;
    color: rgb(87, 196, 230);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 48px;
    text-transform: uppercase;
    transition-duration: 650ms;
    transition-property:all;
    transition-timing-function: ease-in; 
    

    span {
      font-size: 14px;
      padding-left: 24px;
    }
    
   
  }
  
  .linking:hover {
    font-size: 2rem;
    cursor: pointer;
    transition-duration: 650ms;
    transition-property: all;
    transition-timing-function: ease-in;
  }

  .secLink {
    margin-top: 30px;
  }
}

/*-------------------------------------------------Media Query for max-width 992px----------------------------------------------*/

@media (max-width: 992px) { 
  .country{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    margin-top: 6%;
    .secImg {
      display: flex;
      width: 100%;
      overflow-y: hidden;
      
      div:nth-child(1) {
        height: 100%;
        width: 50%;
        position: relative;
        top: 3%;
        left: 12%;
        margin-top: 3%;

        img {
          width:500px ;
          height: 600px;
          margin: 0;
        }
      }

      div:nth-child(2) {
        height: 100%;
        width: 50%;
        position: relative;
        right: 13%;
        padding-top: 17%;

        h1 {
          font-size: 4.5rem;
          font-weight: 700;
          text-transform: uppercase;
          text-align: end;
          line-height: 83px;
          margin: 0;
          
          
        }

        h2 {
          font-size: 3.0rem;
          text-transform: uppercase;
          text-align: end;
          font-family: 'Open Sans', sans-serif;
          font-weight: 700;
          margin: 0;
          
        }

      }
    }
  }
  .linking {
    display: block;
    text-decoration: none;
    color: rgb(224, 75, 192);
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 48px;
    text-transform: uppercase;
    transition-duration: 650ms;
    transition-property:all;
    transition-timing-function: ease-in;
    

    span {
      font-size: 12px;
      padding-left: 24px;
    }
    
   
  }
  
  .linking:hover {
    font-size: 32px;
    cursor: pointer;
    transition-duration: 650ms;
    transition-property:all;
    transition-timing-function: ease-in;
    
  }

  .secLink {
    margin-top: 5%;
  }
 }

 /*-------------------------------------------------Media Query for max-width 768px----------------------------------------------*/
 @media (max-width: 768px) { 
  .country{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    margin-top: 6%;
    .secImg {
      display: flex;
      width: 100%;
      overflow-y: hidden;
      
      div:nth-child(1) {
        height: 100%;
        width: 50%;
        position: relative;
        top: 7%;
        left: 12%;
        margin-top: 3%;

        img {
          width:400px ;
          height: 500px;
          margin: 0;
        }
      }

      div:nth-child(2) {
        height: 100%;
        width: 50%;
        position: relative;
        right: 13%;
        padding-top: 17%;

        h1 {
          font-size: 3.1rem;
          font-weight: 900;
          text-transform: uppercase;
          text-align: end;
          line-height: 63px;
          margin: 0;
          
          
        }

        h2 {
          font-size: 2.0rem;
          text-transform: uppercase;
          text-align: end;
          font-family: 'Open Sans', sans-serif;
          font-weight: 700;
          margin: 0;
          
        }

      }
    }
  }
  .linking {
    display: block;
    text-decoration: none;
    color: rgb(193, 218, 56);
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 48px;
    text-transform: uppercase;
    transition-duration: 650ms;
    transition-property:all;
    transition-timing-function: ease-in;
    

    span {
      font-size: 10px;
      padding-left: 24px;
    }
    
   
  }
  
  .linking:hover {
    font-size: 25px;
    cursor: pointer;
    transition-duration: 650ms;
    transition-property:all;
    transition-timing-function: ease-in;
    
  }

  .secLink {
    margin-top: 3%;
  }
 }

  /*-------------------------------------------------Media Query for max-width 576px----------------------------------------------*/
  @media (max-width: 576px) { 
    .country{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  
      margin-top: 6%;
      .secImg {
        display: flex;
        width: 100%;
        overflow-y: hidden;
        
        div:nth-child(1) {
          height: 100%;
          width: 50%;
          position: relative;
          top: 7%;
          left: 12%;
          margin-top: 3%;
  
          img {
            width: 340px ;
            height: 450px;
            margin: 0;
          }
        }
  
        div:nth-child(2) {
          height: 100%;
          width: 50%;
          position: relative;
          right: 17%;
          padding-top: 17%;
  
          h1 {
            font-size: 2.2rem;
            font-weight: 700;
            text-transform: uppercase;
            text-align: end;
            line-height: 63px;
            margin: 0;
            
            
          }
  
          h2 {
            font-size: 1.4rem;
            text-transform: uppercase;
            text-align: end;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            margin: 0;
            
          }
  
        }
      }
    }
    .linking {
      display: block;
      text-decoration: none;
      color: rgb(241, 19, 19);
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 12px;
      letter-spacing: 0em;
      text-align: left;
      padding-left: 48px;
      text-transform: uppercase;
      transition-duration: 650ms;
      transition-property:all;
      transition-timing-function: ease-in;
      
  
      span {
        font-size: 7px;
        padding-left: 24px;
      }
      
     
    }
    
    .linking:hover {
      font-size: 20px;
      cursor: pointer;
      transition-duration: 650ms;
      transition-property:all;
      transition-timing-function: ease-in;
      
    }
  
    .secLink {
      margin-top: 5%;
    }
   }
  

     /*-------------------------------------------------Media Query for max-width 320px----------------------------------------------*/

     @media (max-width: 320px) { 
      .country{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    
        margin-top: 6%;
        .secImg {
          display: flex;
          width: 100%;
          overflow-y: hidden;
          
          div:nth-child(1) {
            height: 100%;
            width: 50%;
            position: relative;
            top: 7%;
            left: 12%;
            margin-top: 3%;
    
            img {
              width: 200px ;
              height: 350px;
              margin: 0;
            }
          }
    
          div:nth-child(2) {
            height: 100%;
            width: 50%;
            position: relative;
            right: 13%;
            padding-top: 33%;
    
            h1 {
              font-size: 1.2rem;
              font-weight: 700;
              text-transform: uppercase;
              text-align: end;
              line-height: 27px;
              margin: 0;
              
              
            }
    
            h2 {
              font-size: .9rem;
              text-transform: uppercase;
              text-align: end;
              font-family: 'Open Sans', sans-serif;
              font-weight: 700;
              margin: 0;
              
            }
    
          }
        }
      }
      .linking {
        display: block;
        text-decoration: none;
        color: rgb(241, 19, 193);
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 48px;
        text-transform: uppercase;
        transition-duration: 650ms;
        transition-property:all;
        transition-timing-function: ease-in;
        
    
        span {
          font-size: 3px;
          padding-left: 9px;
        }
        
       
      }
      
      .linking:hover {
        font-size: 16px;
        cursor: pointer;
        transition-duration: 650ms;
        transition-property:all;
        transition-timing-function: ease-in;
        
      }
    
      .secLink {
        margin-top: 2%;
      }
     }