@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/*  font-family: 'Open Sans', sans-serif; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .country{

    .secImg {
      display: flex;
      width: 100%;
      
      div:nth-child(1) {
        height: 100%;
        width: 50%;
        position: relative;
        top: 3%;
        left: 14%;
        margin-top: 3%;

        img {
          width:660px ;
          height: 800px;
        }
      }

      div:nth-child(2) {
        height: 100%;
        width: 50%;
        position: relative;
        right: 8%;
        padding-top: 10%;

        h1 {
          font-size: 10.5rem;
          font-weight: 700;
          text-transform: uppercase;
          text-align: end;
          line-height: 169px;
          
        }

        h2 {
          font-size: 6.5rem;
          text-transform: uppercase;
          text-align: end;
          font-family: 'Open Sans', sans-serif;
          font-weight: 700;
          
        }

      }
    }
  }
  .linking {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 102px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 48px;
    text-transform: uppercase;

    span {
      font-size: 18px;
      padding-left: 24px;
    }
    
   
  }
  
  .linking:hover {
    font-size: 96px;
    cursor: pointer;
    transition: width 2s ease-in-out 1s;
    
  }

  .secLink {
    margin-top: 96px;
  }
}



